* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
.navbar{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #e9ddc6; 
    justify-content: center;
    min-height: 120px;
    gap: clamp(40px, 6vw, 100px); 
    box-shadow: 0 6px 10px rgba(59, 42, 26, .30); 
    position: relative;
    z-index: 100;
    font-family: 'Lato', sans-serif;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: clamp(90px, 10vw, 150px); 
    width: auto;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
   

}

.nav-links a {
    position: relative; 
    text-decoration: none;
    color: #000000;
    font-size: 20px;

    padding-bottom: 6px; 
    transition: color 0.3s ease; 
}

.nav-links a::after {
    content: "";
    position: absolute;

    left: 50%; 
    bottom: 0; 

    width: 0; 
    height: 3px; 

    background-color: #b98031;
    border-radius: 999px; 

    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}

.nav-links a:hover {
    color: #6f3f09;
}

.nav-links a:hover::after {
    width: 100%; 
}

.contact-btn {
    background-color: #b98031;
    color: #f8f4f4;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none; 
    display: inline-block; 

    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.nav-links a.contact-btn::after {
    display: none;
}

.contact-btn:hover {
    background-color: #535523;
    transform: translateY(-3px); 
    box-shadow: 0 5px 12px rgba(59, 42, 26, 0.25); 
}

html {
    scroll-behavior: smooth;
}