* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
.navbar{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #e9ddc6; 
    justify-content: center;
    min-height: 120px;
    gap: clamp(40px, 6vw, 100px); /* clamp: 1st = smallest gap, 2nd = responsive gap, 3rd = largest gap */
    box-shadow: 0 6px 10px rgba(59, 42, 26, .30); /* box-shadow: 1st = horizontal, 2nd = vertical, 3rd = blur, 4th = rgba color; rgba: 1st = red, 2nd = green, 3rd = blue, 4th = opacity */
    position: relative;
    z-index: 100;
    font-family: 'Lato', sans-serif;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: clamp(90px, 10vw, 150px); /* clamp: 1st = smallest size, 2nd = responsive size, 3rd = largest size */
    width: auto;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
   

}

.nav-links a {
    position: relative; /* 1st = allows the underline to position under this link */
    text-decoration: none;
    color: #000000;
    font-size: 20px;

    padding-bottom: 6px; /* 1st = space between text and underline */
    transition: color 0.3s ease; /* 1st = property animated, 2nd = duration, 3rd = animation style */
}

.nav-links a::after {
    content: "";
    position: absolute;

    left: 50%; /* 1st = starts underline from center */
    bottom: 0; /* 1st = places underline at bottom of link */

    width: 0; /* 1st = underline starts hidden */
    height: 3px; /* 1st = underline thickness */

    background-color: #b98031;
    border-radius: 999px; /* 1st = makes underline ends rounded */

    transform: translateX(-50%); /* 1st = centers the underline */
    transition: width 0.3s ease; /* 1st = property animated, 2nd = duration, 3rd = animation style */
}

.nav-links a:hover {
    color: #6f3f09;
}

.nav-links a:hover::after {
    width: 100%; /* 1st = underline expands to full text width */
}

.contact-btn {
    background-color: #b98031;
    color: #f8f4f4;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none; /* 1st = removes underline from the link */
    display: inline-block; /* 1st = lets padding and hover movement work properly */

    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.nav-links a.contact-btn::after {
    display: none;
}

.contact-btn:hover {
    background-color: #535523;
    transform: translateY(-3px); /* 1st = moves horizontally, 2nd = moves vertically; negative vertical value moves upward */
    box-shadow: 0 5px 12px rgba(59, 42, 26, 0.25); /* box-shadow: 1st = horizontal, 2nd = vertical, 3rd = blur, 4th = rgba color; rgba: 1st = red, 2nd = green, 3rd = blue, 4th = opacity */
}

html {
    scroll-behavior: smooth;
}